body {
  left: 0;
  top: 0;
  font-family: "Roboto", sans-serif;
}

/* >>>>>>>> HEADER <<<<<<< */

.header {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #99a7c4;
  color: white;
  margin-bottom: 30px;
}

.header h2 {
  padding-left: 50px;
  font-size: 1.5em;
}

.logo-h2 {
  font-family: "Sacramento", cursive;
  font-size: 2em;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.header .btn-outline-primary {
  color: white;
  background-color: transparent;
  background-image: none;
  border-color: white;
  margin: 0px 20px;
  border-radius: 25px;
}

.header .btn-outline-primary:hover {
  background-color: white;
  border-color: white;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: white;
  border-color: white;
  color: #99a7c4;
}

.btn-outline-primary a:hover {
  color: #99a7c4;
}

/* >>>>>>> FOOTER <<<<<<< */

.footer {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #131c25;
  color: white;
  height: 50px;
}

.footer h2 {
  padding-left: 50px;
  font-size: 1.5em;
  margin: 0;
}

/* >>>>>>> SIGN UP <<<<<<< */
.signup-form h2 {
  text-align: center;
  font-family: "Sacramento", cursive;
  margin-bottom: 40px;
}

.signup-form {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 45%;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.form-control {
  width: 550px;
}

.form-field {
  display: block;
  position: relative;
  font-size: 12px;
  color: #99a7c4;
  margin-bottom: 30px;
}

.form-group label {
  display: inline-block;
  position: absolute;
  left: 15px;
  transition: all 150ms ease-in;
  color: #99a7c4;
  z-index: -1;
}

.form-group input {
  border-style: none;
  border-bottom: 1px solid #99a7c4;
  border-radius: 0;
  background-color: transparent;
  margin-bottom: 20px;
  font-size: 1.2em;
  padding-left: 15px;
}

.form-group input:focus {
  border-style: none;
}

.floating-label {
  -webkit-appearance: none !important;
  width: 550px;
}

.field-active {
  transform: translateY(-25px);
  font-size: 0.9em;
  color: #131c25;
}

.btn-signup {
  text-align: center;
}

.btn-sign {
  color: #131c25;
  border-color: #131c25;
  width: 150px;
  border-radius: 25px;
}

.btn-sign:hover {
  color: white;
  background-color: #131c25;
  border-color: #131c25;
}

/* >>>>>>>>>> BOOKING <<<<<<<<<<< */

.booking-date {
  display: inline-flex;
  margin: 50px 200px;
}

.day-picker {
  margin-right: 100px;
}

.table-drag-select td.cell-being-selected {
  background-color: #99a7c4;
}
