body {
  left: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

/* >>>>>>>> HEADER <<<<<<< */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 60px;
}

/* header.\/signup {
  background-color: #99a7c4;
} */

.header h2 {
  padding-left: 50px;
  font-size: 1.5em;
}

.header a {
  text-decoration: none;
  color: #3d3d3c;
  padding: 15px;
}

a.active {
  color: #99a7c4;
}

.header .btn-outline-primary {
  color: #3d3d3c;
  background-color: transparent;
  background-image: none;
  border-color: #3d3d3c;
  margin: 0px 30px;
  border-radius: 25px;
}

.header .btn-outline-primary:hover {
  background-color: white;
  border-color: #99a7c4;
  color: #99a7c4;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: white;
  border-color: white;
  color: #99a7c4;
}

.btn-outline-primary a:hover {
  color: #99a7c4;
}

.header img {
  width: 150px;
}

img.navbar-brand {
  margin-left: 30px;
}

.border-dark {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #131c25;
  height: 5px;
}

.border-light {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #99a7c4;
  height: 5px;
}

/* >>>>>>> FOOTER <<<<<<< */

.footer {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3d3d3c;
  color: white;
  height: 50px;
}

.footer h2 {
  padding-left: 50px;
  font-size: 1.5em;
  margin: 0;
}

/* >>>>>>>>>> HOME PAGE <<<<<<<<<<< */

/* welcome section */

.booking h3 {
  /* margin: 50px; */
  font-size: 50px;
  color: #99a7c4;
}

#negative {
  color: #99a7c4;
}

.welcome-hp {
  text-align: center;
  background-color: white;
  color: white;
}

.welcome-hp h2 {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 20px;
}

.hp-btn span {
  font-size: 30px;
  font-weight: 300;
}

.welcome-hp a {
  text-decoration: none;
  color: white;
}

.welcome-hp a:hover {
  color: white;
}

.welcome-hp button {
  color: white;
  border-color: white;
  border-radius: 40px;
  margin: 20px 0;
  padding: 10px 30px;
}

.welcome-hp button:hover {
  color: #3d3d3c;
  background-color: #99a7c4;
  border-color: #99a7c4;
}

.hp-btn {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 120px;
}

.hp-btn p {
  font-size: 18px;
}

.hp-card {
  width: 18rem;
  border-style: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.list-group-item .fa-check {
  color: #3f506c;
  margin-right: 10px;
}

.list-group-item {
  color: #3d3d3c;
}

.card-link:hover {
  color: #99a7c4;
}

/* concept section */
.concept {
  background-color: #fbfbfb;
  padding: 40px;
  text-align: center;
  height: 700px;
  color: #3d3d3c;
}

.concept img {
  height: 200px;
}

.concept h4 {
  margin-top: 40px;
  font-size: 50px;
  padding: 0;
}

.concept h5 {
  font-size: 22px;
  font-weight: 500;
}

div.card.concept-card {
  background-color: #fbfbfb;
  border-style: none;
}

.concept-cards {
  display: flex;
  justify-content: space-around;
}

.concept-card {
  width: 300px;
}

.concept-card .fas {
  margin-right: 10px;
  color: #3f506c;
}

.concept p {
  font-size: 16px;
  font-weight: 300;
  color: #3d3d3c;
}

/* benefits area */
.nap-benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 50px;
}

.benefits-img img {
  width: 650px;
  padding: 60px;
  margin-top: 100px;
}

.benefits-info span {
  color: #99a7c4;
}

.benefits-info {
  color: #3d3d3c;
  padding: 60px;
  width: 50%;
}

.benefits-info ul {
  padding-left: 20px;
  font-size: 16px;
  font-weight: 300;
}

.benefits-info p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}

.benefits-info h4 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 50px;
  padding: 0;
}

.benefits-info h5 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
}

/* >>>>>>>>>> LOCATIONS <<<<<<<<<<< */

.loc-section {
  text-align: center;
}

.loc-section h2 {
  margin-bottom: 30px;
}

.locations {
  display: flex;
  justify-content: space-around;
}

.card-loc {
  width: 300px;
  display: inline-block;
  margin-bottom: 50px;
  border-style: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-loc:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-loc {
  height: 170px;
}

.fa-phone {
  margin-right: 10px;
  color: #3f506c;
}

/* >>>>>>>>>> BOOKING DATE <<<<<<<<<<< */

.booking-date {
  display: inline-flex;
  margin: 50px 200px;
}

.day-picker {
  margin-right: 100px;
}

.table-drag-select td.cell-being-selected {
  background-color: #99a7c4;
}

.date-time {
  text-align: center;
}

/* >>>>>>>>>> OPTIONS <<<<<<<<<<< */

.option-section h2 {
  text-align: center;
  margin-bottom: 30px;
}

.option-btn {
  text-align: center;
}

.options {
  display: flex;
  justify-content: space-around;
}

.sounds,
.blankets,
.juices {
  width: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.plaid-input input {
  margin-right: 15px;
}

.sound-input input {
  margin-right: 15px;
}

.shotbox {
  width: 100%;
  margin-bottom: 15px;
}

.juice-label {
  flex: auto;
  text-align: left;
  padding-left: 20px;
}

.juices-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.juices-input p {
  margin-bottom: 0;
}

.juices-input label {
  margin-bottom: 0;
}

.juices legend {
  margin-bottom: 20px;
}

.option-title {
  color: #99a7c4;
  letter-spacing: 6px;
  text-align: left;
}

small {
  padding-left: 35px;
}

.price {
  color: #3f506c;
  font-size: 16px;
}

.no-price {
  margin-bottom: 10px;
}

/* >>>>>>>>>> PAYMENT <<<<<<<<<<< */

.payment-sec {
  text-align: center;
}

.payment-sec h2 {
  margin-bottom: 30px;
}

.payment-section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.payment-pic {
  width: 675px;
}

.payment-img {
  width: 110%;
  margin-bottom: 20px;
}

.prices.card {
  border-style: none;
  width: 300px;
}

.card-header {
  margin-bottom: 12px;
}

.card-header h3 {
  text-align: left;
  letter-spacing: 5px;
  font-size: 16px;
  color: #99a7c4;
}

.payment-sec .card-text {
  font-size: 16px;
  letter-spacing: 3px;
  text-align: left;
}

.card-total {
  letter-spacing: 6px;
  font-size: 16px;
}

.order-total {
  color: #99a7c4;
  text-align: left;
}

.card-total .card-text {
  font-weight: bold;
  font-size: 28px;
}

/* >>>>>>>>>> Home page bookings <<<<<<<<<<< */

.booking {
  margin: 70px 0;
}

.booking-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.booking-cards .card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.booking-cards .card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-title {
  color: #3d3d3c;
}
