body {
  left: 0;
  top: 0;
}

/* >>>>>>>> HEADER <<<<<<< */

.header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #99a7c4;
  color: white;
}

.header h2 {
  padding-left: 50px;
  font-size: 1.5em;
}

/* >>>>>>> FOOTER <<<<<<< */

.footer {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #131c25;
  color: white;
  height: 50px;
}

.footer h2 {
  padding-left: 50px;
  font-size: 1.5em;
}
