/* >>>>>>> SIGN UP <<<<<<< */

.signup-form h2 {
  text-align: center;
  font-family: "Sacramento", cursive;
  margin-bottom: 40px;
}

.signup-form {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 630px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.form-control {
  width: 550px;
}

.form-field {
  display: block;
  position: relative;
  font-size: 12px;
  color: #99a7c4;
  margin-bottom: 30px;
}

.form-group label {
  display: inline-block;
  position: absolute;
  left: 15px;
  transition: all 150ms ease-in;
  color: #99a7c4;
  z-index: -1;
}

.form-group input {
  border-style: none;
  border-bottom: 1px solid #99a7c4;
  border-radius: 0;
  background-color: transparent;
  margin-bottom: 20px;
  font-size: 1.2em;
  padding-left: 15px;
}

.form-group input:focus {
  /* border-style: none; */
}

.floating-label {
  -webkit-appearance: none !important;
  width: 550px;
}

.field-active {
  transform: translateY(-25px);
  font-size: 0.9em;
  color: #131c25;
}

.btn-signup {
  text-align: center;
}

.btn-sign {
  color: #131c25;
  border-color: #131c25;
  /* padding: 10px 20px; */
  border-radius: 40px;
}

.btn-sign:hover {
  color: white;
  background-color: #131c25;
  border-color: #131c25;
}
